@model ExternalLoginListViewModel

@{
    if ((Model.ExternalLogins?.Count ?? 0) > 0)
    {
        <form id="externalLoginForm" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input type="hidden" id="provider" name="provider" value="Microsoft" />
            @foreach (var p in Model.ExternalLogins)
            {
                if (p.Name == "Microsoft")
                {
                    <a class="btn btn-white btn-lg d-grid mb-4" href="javascript:$('#provider').val('@p.Name');$('#externalLoginForm').submit();">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="avatar avatar-xss me-2" src="/Identity/svg/brands/microsoft-icon.svg" alt="Google">
                            @Model.ButtonPrefixText with Microsoft
                        </span>
                    </a>
                }
                else if (p.Name == "Google")
                {
                    <a class="btn btn-white btn-lg d-grid mb-4" href="javascript:$('#provider').val('@p.Name');$('#externalLoginForm').submit();">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="avatar avatar-xss me-2" src="/Identity/svg/brands/google-icon.svg" alt="Google">
                            @Model.ButtonPrefixText with Google
                        </span>
                    </a>
                }
                else if (p.Name == "Facebook")
                {
                    <a class="btn btn-white btn-lg d-grid mb-4" href="javascript:$('#provider').val('@p.Name');$('#externalLoginForm').submit();">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="avatar avatar-xss me-2" src="/Identity/svg/brands/facebook-icon.svg" alt="Google">
                            @Model.ButtonPrefixText with Facebook
                        </span>
                    </a>
                }
            }
        </form>

        <span class="divider-center text-muted mb-4">OR</span>
    }
}
